body {
    background-color: #e8f3f8;
    font: 1em/1.5 sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: steelblue;
}

form {
    margin: 20px auto;
    width: 320px;
    color: steelblue;
}

input {
    padding: 10px;
    font-size: 20px;  
} 

input[type="text"] {
    width: 100%;
    display: block;
    margin-bottom: 25px;
    border: 2px solid steelblue;
    background-color: #faf6d9;
}

input[type="password"] {
    width: 100%;
    display: block;
    margin-bottom: 25px;
    border: 2px solid steelblue;
    background-color: #faf6d9;
}

input[type="email"] {
    width: 100%;
    display: block;
    margin-bottom: 25px;
    border: 2px solid steelblue;
    background-color: #faf6d9;
}

input[type="radio"] {
    margin: 0 8px 25px 18px;
}

input[type="submit"] {
    width: 344px;
    height: 45px;
    border: none;
    background-color: steelblue;
}

input:hover{
    background-color: white;
}